@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100vh;
  font-family: "Roboto", sans-serif;
}

body h1 {
  padding-top: 40px;
  font-weight: normal;
  color: #333d;
}

main {
  width: 100%;
  padding: 40px 0;
}

form {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 5px;
  background-color: rgba(250, 250, 250);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

form label {
  display: block;
  text-align: left;
  width: 100%;
  margin: 0 auto;
}

form label {
  margin-bottom: 40px;
}

label input {
  width: 100%;
  font-size: 1rem;
  padding: 0.8em;
  outline: 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
}

label input:focus {
  border-color: rgba(17, 207, 126, 1);
}

label span {
  display: block;
  padding: 7px 0 0;
  font-weight: 500;
  color: rgb(155, 155, 155);
}

form button {
  cursor: pointer;
  font-size: 1.1rem;
  color: white;
  letter-spacing: 1px;
  padding: 0.4em 2em;
  border-radius: 5px;
  border: 0;
  outline: 0;
  background: rgb(8, 175, 160);
  background: linear-gradient(
    90deg,
    rgba(8, 175, 160, 1) 0%,
    rgba(17, 207, 126, 1) 37%,
    rgba(189, 255, 0, 1) 100%
  );
  transition: transform 0.2s;
}

form button:hover {
  transform: scale(1.1);
}

form button:active {
  transform: scale(1);
}

form #congratulations {
  display: none;

  padding: 40px 0 0;
  font-size: 1.5rem;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

#congratulations h2 {
  font-weight: normal;
  color: rgb(39, 251, 159);
}

#congratulations.display {
  display: block;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 20px;
  border-top: 1px solid #ccc;
}

footer p a {
  color: rgb(0, 191, 255);
  text-decoration: none;
}

footer p a:hover {
  text-decoration: underline;
}
